<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>News Scraper</title>

    {{!-- Stylesheets --}}

</head>
<body>

    {{!-- Scraper Header --}}

    {{{body}}}

    {{!-- Footer --}}

    {{!-- Add'l Scripts --}}
    
</body>
</html>